<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%%HEAD_TITLE%%</title>
    <script type="text/javascript" src="/assets/js/burger.js"></script>
    <link rel="stylesheet" href="/../assets/css/style.css" media="screen" />
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/catalog">Catalogue</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        %%MAIN_CONTENT%%
    </main>
    <footer>
        <ul>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/terms">Terms of Service</a></li>
            <p class="copyright">© Coline Ducourtieux 2025</p>
        </ul>
    </footer>
</body>

</html>

<!-- Rajouter Admin à la NavBar? -->