RewriteEngine On

RewriteRule ^assets/(.*)$ assets/$1 [L]

# Rediriger les requêtes admin vers le bon index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/(.*)$ admin/index.php [QSA,L]

# Ensure we are not redirecting requests for actual files/folders (pour le reste)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Exclure les requêtes admin (déjà traitées au-dessus)
RewriteCond %{REQUEST_URI} !^/admin/

# Redirect all other requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]